app/pug/home.pug
extends blocks/_layout

append content

    -
        var items = [
            {
                title: 'Шампунь',
                subtitle: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.',
                src: './img/img-1.png',
                label: 'NEW',
                icon:'./img/libra.png',
                srcOnHover: './img/img-1-hover.png',
                iconChecked: './img/ok.png',
            },
            {
                title: 'Шампунь',
                subtitle: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.',
                src: './img/img-2.png',
                label: 'NEW',
                icon:'./img/libra.png',
                srcOnHover: './img/img-2-hover.png',
                iconChecked: './img/ok.png',
            },
            {
                title: 'Шампунь',
                subtitle: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.',
                src: './img/img-3.jpg',
                label: 'NEW',
                icon:'./img/libra.png',
                srcOnHover: './img/img-3-hover.png',
                iconChecked: './img/ok.png',
            },
        ];

    section.main
        .container
            .wrapper
                each item in items
                    .wrapper-box
                        .main-box
                            .main-header
                                a.main-label(href='#')=item.label
                                .img-box
                                    img(src=item.src alt='#' data-hover=item.srcOnHover)
                                a(href='#').icon
                                    img.icon-img(src=item.icon alt='#' data-checked=item.iconChecked data-icon=item.icon)
                            .main-title=item.title
                            .main-subtitle=item.subtitle
                            form.main-calculation
                                .main-options
                                    .main-droplist
                                        .droplist-value Цвет
                                        img.droplist-img(src='./img/arrow-down.png' alt='#')
                                        ul.droplist
                                            li.droplist-item(data-value='Желтый') Желтый
                                            li.droplist-item(data-value='Красный') Красный
                                            li.droplist-item(data-value='Зеленый') Зеленый
                                    .main-price
                                        span.price 200
                                        | &nbsp; грн
                                .main-radio
                                    label.label
                                        | 100 мл
                                        input.volume(type='radio' checked='checked' name='radio' data-price='200')
                                        span.checkmark
                                    label.label
                                        | 200 мл
                                        input.volume(type='radio' name='radio' data-price='400')
                                        span.checkmark
                                    label.label
                                        | 300 мл
                                        input.volume(type='radio' name='radio' data-price='600')
                                        span.checkmark
                                .main-counter-wrapper
                                    .main-counter
                                        input.buttonCountMinus(type='button' value='-')
                                        .buttonCountNumber 1
                                        input.buttonCountPlus(type='button' value='+')
                                    button.main-buy КУПИТЬ

dist/home.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="assets/img/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" type="text/css" href="css/libs.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="fonts/fonts.css">
    <link href="http://fonts.cdnfonts.com/css/sf-ui-display" rel="stylesheet">
    <title>Adel</title>
  </head>
  <body>
    <div class="content-wrapper" id="contentWrapper">
      <div class="page-wrapper" id="pageWrapper">
        <section class="main">
          <div class="container">
            <div class="wrapper">
              <div class="wrapper-box">
                <div class="main-box">
                  <div class="main-header"><a class="main-label" href="#">NEW</a>
                    <div class="img-box"><img src="./img/img-1.png" alt="#" data-hover="./img/img-1-hover.png"></div><a class="icon" href="#"><img class="icon-img" src="./img/libra.png" alt="#" data-checked="./img/ok.png" data-icon="./img/libra.png"></a>
                  </div>
                  <div class="main-title">Шампунь</div>
                  <div class="main-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</div>
                  <form class="main-calculation">
                    <div class="main-options">
                      <div class="main-droplist">
                        <div class="droplist-value">Цвет</div><img class="droplist-img" src="./img/arrow-down.png" alt="#">
                        <ul class="droplist">
                          <li class="droplist-item" data-value="Желтый">Желтый</li>
                          <li class="droplist-item" data-value="Красный">Красный</li>
                          <li class="droplist-item" data-value="Зеленый">Зеленый</li>
                        </ul>
                      </div>
                      <div class="main-price"><span class="price">200</span>&nbsp; грн</div>
                    </div>
                    <div class="main-radio">
                      <label class="label">100 мл
                        <input class="volume" type="radio" checked="checked" name="radio" data-price="200"><span class="checkmark"></span>
                      </label>
                      <label class="label">200 мл
                        <input class="volume" type="radio" name="radio" data-price="400"><span class="checkmark"></span>
                      </label>
                      <label class="label">300 мл
                        <input class="volume" type="radio" name="radio" data-price="600"><span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="main-counter-wrapper">
                      <div class="main-counter">
                        <input class="buttonCountMinus" type="button" value="-">
                        <div class="buttonCountNumber">1</div>
                        <input class="buttonCountPlus" type="button" value="+">
                      </div>
                      <button class="main-buy">КУПИТЬ</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="wrapper-box">
                <div class="main-box">
                  <div class="main-header"><a class="main-label" href="#">NEW</a>
                    <div class="img-box"><img src="./img/img-2.png" alt="#" data-hover="./img/img-2-hover.png"></div><a class="icon" href="#"><img class="icon-img" src="./img/libra.png" alt="#" data-checked="./img/ok.png" data-icon="./img/libra.png"></a>
                  </div>
                  <div class="main-title">Шампунь</div>
                  <div class="main-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</div>
                  <form class="main-calculation">
                    <div class="main-options">
                      <div class="main-droplist">
                        <div class="droplist-value">Цвет</div><img class="droplist-img" src="./img/arrow-down.png" alt="#">
                        <ul class="droplist">
                          <li class="droplist-item" data-value="Желтый">Желтый</li>
                          <li class="droplist-item" data-value="Красный">Красный</li>
                          <li class="droplist-item" data-value="Зеленый">Зеленый</li>
                        </ul>
                      </div>
                      <div class="main-price"><span class="price">200</span>&nbsp; грн</div>
                    </div>
                    <div class="main-radio">
                      <label class="label">100 мл
                        <input class="volume" type="radio" checked="checked" name="radio" data-price="200"><span class="checkmark"></span>
                      </label>
                      <label class="label">200 мл
                        <input class="volume" type="radio" name="radio" data-price="400"><span class="checkmark"></span>
                      </label>
                      <label class="label">300 мл
                        <input class="volume" type="radio" name="radio" data-price="600"><span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="main-counter-wrapper">
                      <div class="main-counter">
                        <input class="buttonCountMinus" type="button" value="-">
                        <div class="buttonCountNumber">1</div>
                        <input class="buttonCountPlus" type="button" value="+">
                      </div>
                      <button class="main-buy">КУПИТЬ</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="wrapper-box">
                <div class="main-box">
                  <div class="main-header"><a class="main-label" href="#">NEW</a>
                    <div class="img-box"><img src="./img/img-3.jpg" alt="#" data-hover="./img/img-3-hover.png"></div><a class="icon" href="#"><img class="icon-img" src="./img/libra.png" alt="#" data-checked="./img/ok.png" data-icon="./img/libra.png"></a>
                  </div>
                  <div class="main-title">Шампунь</div>
                  <div class="main-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</div>
                  <form class="main-calculation">
                    <div class="main-options">
                      <div class="main-droplist">
                        <div class="droplist-value">Цвет</div><img class="droplist-img" src="./img/arrow-down.png" alt="#">
                        <ul class="droplist">
                          <li class="droplist-item" data-value="Желтый">Желтый</li>
                          <li class="droplist-item" data-value="Красный">Красный</li>
                          <li class="droplist-item" data-value="Зеленый">Зеленый</li>
                        </ul>
                      </div>
                      <div class="main-price"><span class="price">200</span>&nbsp; грн</div>
                    </div>
                    <div class="main-radio">
                      <label class="label">100 мл
                        <input class="volume" type="radio" checked="checked" name="radio" data-price="200"><span class="checkmark"></span>
                      </label>
                      <label class="label">200 мл
                        <input class="volume" type="radio" name="radio" data-price="400"><span class="checkmark"></span>
                      </label>
                      <label class="label">300 мл
                        <input class="volume" type="radio" name="radio" data-price="600"><span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="main-counter-wrapper">
                      <div class="main-counter">
                        <input class="buttonCountMinus" type="button" value="-">
                        <div class="buttonCountNumber">1</div>
                        <input class="buttonCountPlus" type="button" value="+">
                      </div>
                      <button class="main-buy">КУПИТЬ</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="footer-wrapper" id="footerWrapper"></div>
    </div>
    <script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>
